/*HTML*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*BODY*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #004568;
  background-color: #97CBDC;
  
  /*border: 4px solid #333; */
}

/*HEADER/NAVBAR*/
header {
  display: flex;
  color: #004568;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #86969C;
  padding-left: 20%;
  padding-right: 10%;
  
}

/*Logo style*/
.logo {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  font-size: x-large;
  letter-spacing: 5px;
  
}

/*Navbar style*/
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #004568;
  font-weight: bold;
}

nav a:hover {
  color: transparent; /* Set text color to transparent */
  -webkit-text-stroke: 1px #004568;
}

/*MAIN*/
main {
  max-width: 1700px;
  margin: 0 auto;
  /*border: 10px solid #a34b4b;*/
}

/*HOME*/

/*Hero style*/
/*.hero {
  
  border: 4px solid #333;
  margin-bottom: 100px;
}*/


/*Hero(pic) style*/


.profile__container {
  
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
  height: auto;
  /*border: 4px solid #2ba03e;*/
  
}


.profile-pic {
  position: relative; /* Position the images relative to this container */
  width: 700px; /* Set the width to the width of the images */
  height: 700px; /* Set the height to the height of the images */
  border: 3.5px solid #86969C; /* Border styling */
  
  border-radius: 50%; /* Create a circular border */
  overflow: hidden; /* Ensure that child images don't overflow the border */
  transition: border-color 1.0s ease; /* Add transition effect for border color */
  margin-top: 50px;
  
}

.profile-pic img {
  position: absolute; /* Position the images absolutely within the container */
  top: 0; /* Align images to the top */
  left: 0; /* Align images to the left */
  width: 100%;
  height: 100%;
  transition: opacity 1.0s ease; /* Add transition effect for opacity */
}



/*About style*/
.about-text h2{
  display: flex;
  justify-content: center;
  font-size: 2rem;  
  color: #004568;
  margin-bottom: 30px;
}

.about-text {
  max-width: 600px;
  align-self: center;
  /*border: 4px solid #3a85ca;*/
  
}

/*Social Media style*/
.social-media-links {
  display: flex;
  justify-content: space-around;
  /*border: 4px solid #9c2222;*/
  
  
}

.social__profile {
  display: flex; /* Use flexbox to enable gap */
  gap: 3rem; /* Add space between the items */
  list-style: none; /* Remove bullet points */
  padding: 0;
}


.social__profile-link svg {
  fill: #004568; /* Default color for all icons */
  transition: fill 1s ease; transform: 1s;
  transform: scale(1)
}


.LinkedInIcon:hover svg {
  fill: #0A66C2; /* LinkedIn blue */
  transform: scale(1.1)
}


.GithubIcon:hover svg {
  fill: #111111; /* GitHub Black*/
  transform: scale(1.1)
}


.WhatsappIcon:hover svg {
  fill: #00A884; /* WhatsApp green */
  transform: scale(1.1)
}

/*SKILLS - CERTIFICATES*/
.skills {
  /*border: 4px solid #333;*/
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
}

 h3 {
  text-align: center;
  font-size: 2rem;
  color: #004568;
  margin-bottom: 30px;
  /*border: 4px solid #802f2f;*/
  
  
}
.skills h4{
  text-align: center;
  font-size: 1.2rem;
  color: #004568;
  margin-bottom: 30px;
  /*border: 4px solid #802f2f;*/
  
}
/* Tab Header Styles */
.tab-header {
  display: flex;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  
  padding-right: 5px;
  /*border: 4px solid #2d6851;*/
  
}

.tab-button {
  width: 300px;
  padding: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: #004568;
  color: #86969C;
  margin: 0;
  transition: background-color 0.3s ease;
  letter-spacing: 3px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -5px;
  margin-top: 10%;
  border: 2px outset #97CBDC;
  transition: box-shadow 0.3s ease;
/*border: 4px solid #4d309e;*/
  
}



.tab-button.active {
  background-color: #86969C;
  color: #004568;
  
  
}

/* Panel Content Styles */
.tab-content {
  padding: 20px;
  border-bottom: 2px outset #97CBDC;
  border-left: 2px outset #97CBDC;
  border-right: 2px outset #97CBDC;
  /*border-top: 1px groove #979292;*/
  background-color: #86969C;
  border-radius: 0px 10px 10px 10px;
  
}

.skills-panel, .certificates-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  
}


.skills-column {
  flex: 1;
  display: flex;  
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  /*border: 4px solid #333;*/
}

/* Frontend and Backend Skills Styles */
.frontend-column, .backend-column {
  flex: 1;
  min-width: 45%;
  /*border: 4px solid #111ece;*/
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.frontend-skills, .backend-skills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  /*border: 4px solid #333;*/
  
  
}

.frontend-skills li, .backend-skills li {
  
  display: flex;
  align-items:center;
  gap: 15px;
  font-size: 0.8rem;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  position: relative;
  
  
  
}

.tech-icon {
  width: 24px;
  height: 24px;
}

.knowledge-level {
  background-color: #e0e0e0;
  border-radius: 4px;
  width: 100px;
  height: 20px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
}

.progress-bar {
  background-color: #004568;
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
}

.progress-bar::after {
  content: attr(data-percentage);
  position: absolute;
   /* Position above the progress bar */
  
  left: 50%;
  transform: translateX(-50%, -50%);
  background-color: #004568;
  color: #86969C;
  padding: 2px 2px;
  font-size: 0.75rem;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none; /* Makes tooltip unclickable */
}

.progress-bar:hover::after {
  opacity: 1; /* Show tooltip on hover */
}

.certificates-panel{
  /*border: 4px solid #333;*/
}

.certificates{
  list-style: none;
  display: flex;
  /*border: 4px solid #333;*/
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 80px;
}

/*PROJECTS*/

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; /* Adds space above and below the projects */
  max-width: 1200px; /* Limit width for better alignment */
  margin: 0 auto; /* Centers section within the page */
  /*border: 4px solid #333;*/
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  
  border: 2px outset #96afb8;
  width: 100%; /* Ensure image scales with the container */
  height: 600px;
}

.projects__card img {
  width: 100%; /* Ensure image scales with the container */
  height: 600px;
  object-fit: cover; /* Keeps image aspect consistent */
}

.projects__modal {
  position: absolute;
  bottom: -100%; /* Initially hidden below */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Add overlay effect */
  color: #86969C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.25rem;
  transition: bottom 1s ease-in-out; /* Smooth transition */
  text-align: center;
}

.projects__description {
  position: absolute;
  bottom: -151px; /* Initially hidden */
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #86969C; /* Light background for contrast */
  color: #004568; /* Text color */
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #004568;
  transition: bottom 0.7s ease-in-out;
  display: flex;
  justify-content: center;
}

.projects__title {
  color: #97CBDC;
  margin-top: 0.5rem;
}

.projects__button {
  margin-top: 1rem; /* Space below the title */
  color: #86969C;
}

.projects__card:hover .projects__modal {
  bottom: 0; /* Slide modal to cover the image */
}

.projects__card:hover .projects__description {
  bottom: 0; /* Slide it up partially when the card is hovered */
}

.projects__content {
  display: flex;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 3rem; /* Space between items */
  align-items: start;
  justify-content: center;
  padding: 2rem;
  /*border: 4px solid #333;*/
}





/*CONTACT*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.contact form {
  display: flex;
  flex-direction: column;
  
  
  width: 1000px;
  margin-bottom: 20PX;
}

.contact input,
.contact textarea {
  
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  
  padding: 10px;
  background-color: #86969C;
  color: #004568;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #86969C;
}